name: MBT
on:
  merge_group:
  pull_request:
  push:
    branches: main

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      code: ${{ steps.filter.outputs.code }}
      specs: ${{ steps.filter.outputs.specs }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            code:
              - 'code/**'
            specs:
              - 'specs/**'

  mbt-tests:
    name: MBT Tests
    needs: changes
    if: ${{ needs.changes.outputs.code == 'true' || needs.changes.outputs.specs == 'true' || github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    env:
      CARGO_INCREMENTAL: 0
      CARGO_PROFILE_DEV_DEBUG: 1
      CARGO_PROFILE_RELEASE_DEBUG: 1
      RUST_BACKTRACE: short
      CARGO_NET_RETRY: 10
      RUSTUP_MAX_RETRIES: 10
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Setup Node
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
        with:
          node-version: "18"
      - name: Install Quint
        run: npm install -g @informalsystems/quint
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - name: Install cargo-nextest
        uses: taiki-e/install-action@93a3ae3bfd962e4d6dde57e468f29a5f2b7cb201 # cargo-nextest
      - name: Current time as random seed for Quint
        run: echo "QUINT_SEED=$(date +%s)" >> $GITHUB_ENV
      - name: Build code
        working-directory: code/crates/test/mbt
        run: |
          cargo nextest run \
           -p informalsystems-malachitebft-test-mbt \
           -p informalsystems-malachitebft-starknet-test-mbt \
           --all-features --no-run
      - name: Run tests
        working-directory: code/crates/test/mbt
        run: |
          cargo nextest run \
           -p informalsystems-malachitebft-test-mbt \
           -p informalsystems-malachitebft-starknet-test-mbt \
           --all-features
