name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - v[0-9]+.*

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          policy: global-allowed-endpoints-policy
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          cache-workspaces: "code"
      - name: Publish crates
        uses: step-security/publish-crates@354be9c74404760ffbfcae1bd39a4f05c19b6578 # v2.0.0
        with:
          registry-token: ${{ secrets.CRATES_TOKEN }}
          path: code
